.main{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
}

.main img{
    width: 29rem;
    height: 25rem;
}

.container{
    border: 2px solid black;
    width: 30rem;
    height: 30rem;
    
}

.city{
    position: relative;
    overflow: hidden;
}

.description{
    position: absolute;
    transform: translateY(100%);
    bottom: 0;
    transition: all ease-in-out 1s;

}
.city:hover .description{
    transform: translateY(0%);
}

.city:hover{
    filter: grayscale(90%);
}